<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Склад</title>
  <link rel="stylesheet" href="../static/css/admin_style.css" th:href="@{/css/admin_style.css}">

</head>
<body>
<div id="bg"></div>

<table border="0"  width="100%" height="100%" cellpadding="20" cellspacing="10">
  <thead>
  <tr>
    <div class="inline">
      <form th:action="@{/}" method="get">
        <input type="submit" value="В зал">
      </form>
    </div>
  </tr>
  </thead>

  <tbody>
  <tr>
    <table border="1" class="table">
      <thead>
      <tr>
        <th>id</th> <th>Имя</th> <th>Должность</th>
      </tr>
      </thead>
      <tr>
        <td>1</td> <td>Крендель</td> <td>Официант</td>
      </tr>
      <tr>
        <td>2</td> <td>Вупсень</td> <td>Грузчик</td>
      </tr>
      <tr>
        <td>3</td> <td>Пупсень</td> <td>Менеджер</td>
      </tr>
    </table>
  </tr>
  </tbody>
</table>

</body>
</html>