<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Storage</title>
  <link rel="stylesheet" href="../static/css/admin_style.css" th:href="@{/css/admin_style.css}">

</head>
<body>
<div id="bg"></div>

<table border="0"  width="100%" height="100%" cellpadding="20" cellspacing="10">
  <thead>
  <tr>
    <div class="inline">
      <form th:action="@{/}" method="get">
        <input type="submit" value="To the hall">
      </form>
    </div>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td align="center" id="left">
      <table border="1" class="table">
        <thead>
        <tr>
          <th>id</th> <th>Name</th> <th>Birth Date</th> <th>Role</th>
        </tr>
        </thead>
        <th:block th:each="worker : ${workers}">
          <tr>
            <td th:text="${worker.id}"></td> <td th:text="${worker.name}"></td> <td th:text="${worker.birthday}"></td> <td th:text="${worker.profession}"></td>
          </tr>
        </th:block>
      </table>
    </td>
    <td align="center" id="right">
      Set role
      <form th:action="@{/admin/worker}" method="post">
        <input required type="text" name="name" placeholder="User Name">
        <select required name="profession" style="margin-top: 2%">
          <th:block th:each="profession: ${T(com.company.business.models.people.Worker.Profession).values()}">
            <option th:text="${profession.name}" th:value="${profession.name}"></option>
          </th:block>
        </select>
        <br>
        <input type="submit" value="Set">
      </form>
      <br>
      Ban
      <form th:action="@{/admin/ban}" method="post">
        <input required type="text" name="name" placeholder="User Name">
        <input required type="number" name="days" min="0" placeholder="Days">
        <br>
        <input type="submit" value="Ban">
      </form>
      <br>
      Unban
      <form th:action="@{/admin/ban/remove}" method="post">
        <input required type="text" name="name" placeholder="User Name">
        <input type="submit" value="Unban">
      </form>
    </td>
  </tr>
  </tbody>
</table>

</body>
</html>