<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Mead Brewery</title>
  <link rel="stylesheet" href="../static/css/cashier_style.css" th:href="@{/css/cashier_style.css}">

</head>
<body>
<div id="bg"></div>

<table border="0"  width="100%" height="100%" cellpadding="20" cellspacing="10">
  <thead>
  <tr>
    <div class="inline">
      <form th:action="@{/}" method="get">
        <input type="submit" value="To the hall">
      </form>
    </div>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td align="center">
      <table border="1" class="table">
        <thead>
        <tr>
          <th>id</th> <th>Client</th> <th>Timestamp</th> <th></th>
        </tr>
        </thead>
        <th:block th:each="order : ${openOrders}">
          <tr>
            <td th:text="${order.id}"></td> <td th:text="${order.customer.name}"></td> <td th:text="${order.time}"></td>
            <td><form th:action="@{/worker/orders/details/{orderId}(orderId=${order.id})}" method="get">
              <input type="submit" value="Details" class="btn">
            </form></td>
          </tr>
        </th:block>
      </table>
    </td>
  </tr>
  </tbody>
</table>

</body>
</html>