<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Войти в медоварню</title>
    <link rel="stylesheet" href="../static/css/login_style.css" th:href="@{/css/login_style.css}">

</head>
<body>
<div id="bg"></div>

<form th:action="@{/sign-in}" method="post">
    <div class="form-field">
        <input type="text" placeholder="Username" name="login" required />
    </div>

    <div class="form-field">
        <input type="password" placeholder="Password" name="password" required />
    </div>

    <div class="form-field">
        <button class="btn" type="submit" name="action" value="sign-in">Войти</button>
    </div>
    <a th:href="@{/registerPage}">Зарегистрироваться</a>
</form>

</body>
</html>