<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Медоварня</title>
  <link rel="stylesheet" href="../static/css/cashier_style.css" th:href="@{/css/cashier_style.css}">

</head>
<body>
<div id="bg"></div>

<table border="0"  width="100%" height="100%" cellpadding="20" cellspacing="10">
  <thead>
  <tr>
    <div class="inline">
      <form th:action="@{/worker/orders}" method="get">
        <input type="submit" value="Назад">
      </form>
    </div>
      <div class="inline" th:text="'id: ' + ${order.id}"></div>
      <div class="inline" th:text="'Клиент: ' + ${order.customer.name}"></div>
      <div class="inline" th:text="'Уровень ПЛ: ' + ${loyaltyLevel.level}"></div>
      <div class="inline" th:text="'Время: ' + ${order.time}"></div>
      <div class="inline" th:text="'Оплачен: ' + (${order.closed} ? 'Да' : 'Нет')"></div>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td align="center">
      <table border="1" class="table">
        <thead>
        <tr>
          <th>Товар</th> <th>HP</th> <th>Mana</th> <th>Stamina</th> <th>Количество</th> <th>Цена</th> <th>Стоимость</th>
        </tr>
        </thead>
        <th:block th:each="orderDetail : ${orderDetails}">
          <tr>
            <td th:text="${orderDetail.foodType.name}"></td> <td th:text="${orderDetail.foodType.hp}"></td> <td th:text="${orderDetail.foodType.mana}"></td> <td th:text="${orderDetail.foodType.stamina}"></td> <td th:text="${orderDetail.count}"></td> <td th:text="${orderDetail.foodType.price}"></td> <td th:text="${orderDetail.foodType.price} * ${orderDetail.count}"></td>
          </tr>
        </th:block>
        <tr>
          <td>Cумма с учетом скидки</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td th:text="${totalCost}"></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <form th:action="@{/worker/orders/close}" method="post">
        <input type="text" style="display:none;" th:value="${order.id}" name="orderId">
        <input type="submit" value="Завершить заказ" class="btn">
      </form>
    </td>
  </tr>
  </tbody>
</table>

</body>
</html>