<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Sign in Mead Brewery</title>
  <link rel="stylesheet" href="../static/css/login_style.css" th:href="@{/css/login_style.css}">

</head>
<body>
<div id="bg"></div>

<form th:action="@{/sign-up}" method="post">
  <div class="form-field">
    <input type="text" placeholder="Username" name="login" required />
  </div>

  <div class="form-field">
    <input type="password" placeholder="Password" name="password" required />
  </div>

  <div class="form-field">
    <input type="text" placeholder="Name" name="name" required />
  </div>

  <div class="form-field">
    <input type="text" placeholder="Birthdate" name="date" required />
  </div>

  <div class="form-field">
    <input type="text" placeholder="HP" name="hp" required />
  </div>

  <div class="form-field">
    <input type="text" placeholder="Mana" name="mana" required />
  </div>

  <div class="form-field">
    <input type="text" placeholder="Stamina" name="stamina" required />
  </div>

  <div class="form-field">
    <button class="btn" type="submit" name="action">Sign up</button>
  </div>
</form>

</body>
</html>