<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Склад</title>
  <link rel="stylesheet" href="../css/warehouse_style.css" th:href="@{/css/warehouse_style.css}">

</head>
<body>
<div id="bg"></div>

<table border="0"  width="100%" height="100%" cellpadding="20" cellspacing="10">
  <thead>
  <tr>
    <div class="inline">
      <form th:action="@{/}" method="get">
        <input type="submit" value="В зал">
      </form>
    </div>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td align="center" id="left">
      <form th:action="@{/worker/storage}" method="post">
        <select required name="foodType">
          <option selected disabled>Выберите товар</option>
          <th:block th:each="foodType: ${foodTypes}">
            <option th:text="${foodType.name}" th:value="${foodType.name}"></option>
          </th:block>
        </select>
        <input type="number" min="1" placeholder="Количество" name="count" required>
        <br>
        <input type="submit" value="Добавить" class="btn">
      </form>
      <br>
      Добавить новый продукт
      <form th:action="@{/worker/storage/food-types}" method="post">
        <input type="text" placeholder="Название" name="name">
        <input type="number" placeholder="Цена" name="price" min="0">
        <input type="number" placeholder="HP" name="hp">
        <input type="number" placeholder="Mana" name="mana">
        <input type="number" placeholder="Stamina" name="stamina">
        <input type="submit" value="Добавить" class="btn">
      </form>
    </td>
    <td align="center" id="right">
      <table border="1" class="table">
        <thead>
        <tr>
          <th>Название</th> <th>HP</th> <th>Mana</th> <th>Stamina</th> <th>Цена</th> <th>Количество</th>
        </tr>
        </thead>
        <th:block th:each="food : ${storage}">
          <tr>
            <td th:text="${food.foodType.name}"></td> <td th:text="${food.foodType.hp}"></td> <td th:text="${food.foodType.mana}"></td> <td th:text="${food.foodType.stamina}"></td> <td th:text="${food.foodType.price}"></td> <td th:text="${food.count}"></td>
          </tr>
        </th:block>
      </table>
    </td>
  </tr>
  </tbody>
</table>

</body>
</html>